@model MiniatureBottleMVCWebApplication.Models.Bottle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BottleAdd</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BottleImage.BottleImageId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BottleImage.BottleImageId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BottleDetail.Shell)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BottleDetail.Shell)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BottleDrinkDetail.AlcoholType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BottleDrinkDetail.AlcoholType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BottleOrigin.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BottleOrigin.Manufacturer)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
